{% extends "home/layout.html" %} {% load static %} {% block meta %}
<meta property="og:title" content="Ekerhorn Art Galleri" />
    <meta
      property="og:description"
      content="Välkommen till mitt onlinegalleri, där du hittar ett litet urval av mina målningar och dikter. Varje målning har en historia bakom sig, som jag vill dela genom mina ord."
    />
    <meta property="og:image" content="{% static 'home/images/meta.jpg' %}" />
    <meta property="og:url" content="www.ekerhorn.com/gallery" />
    <title>Galleri</title>
{% endblock %}
{% block head %}
<link href="{% static 'gallery/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'gallery/script.js' %}"></script>
{% endblock %} {% block content %}
<section class="breadcrumbs">
  <a href="{% url 'home:index' %}"><i class="fa-solid fa-house"></i>Home</a>
  <p>/</p>
  <h1>Gallery</h1>
</section>
<section class="paintings">
  {% for painting in paintings %}
  <a href="{% url 'gallery:painting' painting.id %}">
    <picture>
      <div class="box card__article">
      {% if painting.sold %}
      <div class="vignette sold blur-load" style="--bg-image: url('{{ painting.get_resized_image_urls.img_0_url }}');">
      {% else %}
      <div class="vignette blur-load" style="--bg-image: url('{{ painting.get_resized_image_urls.img_0_url }}');">
        {% endif %}
        <source
          type="image/webp"
          srcset="{{ painting.get_resized_image_urls.webp_1_url }} 500w, {{ painting.get_resized_image_urls.webp_2_url }} 1000w"
        />
        <img src="{{ painting.get_resized_image_urls.img_1_url }}" alt="{{ painting.name }}" srcset="{{
        painting.get_resized_image_urls.img_1_url }} 500w, {{
        painting.get_resized_image_urls.img_2_url }} 1000w"
          sizes="(max-width:
        500px) 400px, (max-width: 1000px) 800px"
          loading="lazy" />
      </div>
      <div class="card__data">
        <h3 class="card__title">{{ painting.name }}</h3>
      </div>
    </div>
    </picture>
  </a>
  {% empty %}
  <p>No paintings</p>
  {% endfor %}
</section>

{% endblock %}
