{% extends "home/layout.html" %} {% load static %} {% block head %}
<link href="{% static 'gallery/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'gallery/script.js' %}"></script>
{% endblock %} {% block content %}

<section class="test">
  <div class="breadcrumbs">
    <a href="{% url 'home:index' %}"><i class="fa-solid fa-house"></i>Home</a>
    <p>/</p>
    <a href="{% url 'gallery:index' %}">Gallery</a>
    <p>/</p>
    <h1>{{ painting.name }}</h1>
  </div>
  <div class="painting__container">
    <a
      href="{{ painting.get_resized_image_urls.img_3_url }}"
      target="_blank"
      class="c"
    >
      <picture
        class="blur-load vignette"
        style="background-image: url('{{ painting.get_resized_image_urls.img_0_url }}');"
      >
        <source
          type="image/webp"
          srcset="{{ painting.get_resized_image_urls.webp_1_url }} 500w, {{ painting.get_resized_image_urls.webp_2_url }} 1000w, {{ painting.get_resized_image_urls.webp_3_url }} 1600w"
        />
        <img
          src="{{ painting.get_resized_image_urls.img_1_url }}"
          alt="{{ painting.name }}"
          srcset="{{ painting.get_resized_image_urls.img_1_url }} 500w, {{ painting.get_resized_image_urls.img_2_url }} 1000w, {{ painting.get_resized_image_urls.img_3_url }} 1600w"
          sizes="(max-width: 500px) 400px,
                (max-width: 1000px) 800px,
                1600px"
          loading="lazy"
        />
      </picture>
    </a>

    <div class="painting-info d">
      <h3>{{ painting.name }}</h3>
      <div class="quick-info">
        <div class="keypair">
          <h6>Konstnär:</h6>
          <p>Mattias Ekerhorn</p>
        </div>

        <div class="keypair">
          <h6>Status:</h6>
          {% if painting.sold %}
          <p>Såld</p>
          {% else %}
          <p>Till salu</p>
          {% endif %}
        </div>

        <div class="keypair">
          <h6>Bredd:</h6>
          <p>120 cm</p>
        </div>

        <div class="keypair">
          <h6>Höjd:</h6>
          <p>220 cm</p>
        </div>

        {% if painting.width and painting.height %}
        <div class="keypair">
          <h6>Bredd:</h6>
          <p>{{ painting.width }}</p>
        </div>

        <div class="keypair">
          <h6>Höjd:</h6>
          <p>{{ painting.height }}</p>
        </div>
        {% endif %}
      </div>
    </div>
    <p class="e">{{ painting.poem|linebreaksbr }}</p>
  </div>
</section>

{% endblock %}
