$primary-50: #e9ecf1;
$primary-100: #bcc4d4;
$primary-200: #9ca7bf;
$primary-300: #6e7fa1;
$primary-400: #52668f;
$primary-500: #274073;
//$primary-600: #233a69;
$primary-700: #1c2d52;
//$primary-800: #15233f;
$primary-900: #101b30;
$accent-50: #fcf8f2;
//$accent-100: #f4e9d7;
//$accent-200: #efdfc3;
$accent-300: #e8d0a8;
//$accent-400: #e3c797;
$accent-500: #dcb97d;
$accent-600: #c8a872;
//$accent-700: #9c8359;
//$accent-800: #796645;
$accent-900: #5c4e35;
$sec-50: #fbeaef; //#f9ebee;
//$sec-100: #f3bfcd; //#ebc0cc;
//$sec-200: #eea0b4; //#e2a2b3;
//$sec-300: #e67492; //#d47790;
//$sec-400: #e1597d; //#cc5d7a;
$sec-500: #d9305d; //#bf3459;
$sec-600: #c52c55; //#ae2f51;
$sec-700: #9a2242; //#88253f;
//$sec-800: #771a33; //#691d31;
//$sec-900: #5b1427; //#501625;
$neutral-50: #f6f7f8;
$neutral-100: #e3e5eb;
$neutral-200: #d5d8e1;
//$neutral-500: #a4abbd;
//$neutral-800: #5a5e68;
//$neutral-900: #45484f;
$neutral-black: #00040d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth; // Makes scrolling smooth
}

body {
  overflow-x: hidden; /* Ensures no horizontal scroll bar */
  width: 100%; // Unles later specified, default should be 100% width
  background-color: $neutral-50;
  font-size: 1rem; //Default text should be 16px
  font-family: "Work Sans", sans-serif;
}

.sidebar {
  position: fixed;
  top: 80px;
  right: -440px;
  transition: 0.3s right;
  height: auto;
  width: 350px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul:nth-of-type(2) {
    margin-top: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    li {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        height: 100%;
        font-size: 1.333rem;
      }

      i {
        transition: 0.3s;
      }

      &:hover i {
        transform: rotate(-25deg) scale(1.2);
      }
    }
  }
}

.sidebar.active {
  right: 0;
}

@keyframes up-reveal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes right-reveal {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo {
  img {
    width: clamp(5.625rem, 4.45698rem + 4.918vw, 9.375rem);
  }
}

#header ul {
  height: 100%;

  li .btn {
    padding: 0 0.57em;
    transition: 0.3s;
    margin: 5px 2.29em 0 2em; //5px 32px 0 15px; // 5px top, 24px right, 0 bottom, 15px left after mobile menu
    border-radius: 3px;
    min-width: 5.33em;
    height: 3em;
    color: $neutral-black;
    background-color: $accent-300;
    border-color: $neutral-black;
    font-size: clamp(0.625rem, 0.57198rem + 0.303vw, 0.875rem);
    white-space: nowrap;

    &:hover {
      background-color: $accent-500 !important;
      border-color: $accent-900 !important;
    }
  }
}

.hamb {
  margin-top: 12px;
  margin-right: 24px;
  display: none;
  width: 32px;
  cursor: pointer;
  position: relative;
}

.hamb span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $neutral-50;
  transition-duration: 0.3s;
  transition-property: opacity transform;
}

.hamb span.mid {
  margin: 7px 0;
}

.hamb.active span.top {
  transform: translateY(9px) rotate(42deg);
}

.hamb.active span.mid {
  opacity: 0;
}

.hamb.active span.bot {
  transform: translateY(-9px) rotate(-42deg);
}

nav {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  transition: 0.3s;
  opacity: 0;
  animation: up-reveal 1s ease 2s forwards;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;

  a {
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    height: 100%;
    padding: 0 2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $neutral-50;
    position: relative;
    transition: 0.5s;
    font-size: 0.875rem;

    &:first-child {
      padding: 0 0 0 2em;
    }
  }
}

.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a {
  &::after {
    position: absolute;
    content: "";
    top: 80%;
    left: 0;
    width: 60%;
    margin: 0 20%;
    height: 3px;
    background: $sec-500;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover {
    color: $sec-50;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

nav li:first-child {
  margin-right: auto;
}

nav a img {
  height: 60px;
}

.sidebar li {
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes zoom {
  0% {
    background-position: right top;
    transform: scale(1);
  }
  100% {
    background-position: left bottom;
    transform: scale(1.2);
  }
}

@keyframes move-overlay {
  0% {
    bottom: -500px;
    height: 0px;
  }
  100% {
    bottom: -4px;
    height: clamp(6.25rem, 2.27278rem + 22.727vw, 25rem);
  }
}

h1 {
  font-family: "Merriweather", serif;
  font-style: italic;
}

h2 {
  font-family: "Work Sans", serif;
  font-size: 3.157rem;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
  font-family: "Work Sans", sans-serif;
}

h5 {
  font-size: 1.333rem;
  font-family: "Work Sans", sans-serif;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
}

.hero {
  overflow: hidden;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  position: relative;

  &::before {
    content: "";
    background-image: url("./hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: zoom 3s forwards;
    transform: scale(1);
  }

  .overlay {
    position: absolute;
    bottom: -500px;
    width: 100%;
    animation: move-overlay 2s 0.8s forwards;
  }

  .row {
    display: flex;
    margin-top: clamp(5em, 4.46975em + 3.03vw, 7.5em); //calc(40px + 80px);
    margin-left: 0;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      animation: right-reveal 1s ease 2s forwards;
      padding-left: 2.25em;
      padding-right: 2em;

      i {
        color: $accent-600;
        font-size: 2.488rem;
        transition: 0.3s;
      }

      i:hover {
        transform: rotate(-25deg) scale(1.2);
        text-shadow: 0 0 10px $sec-700;
      }

      span {
        height: 20%;
        border-right: 1px solid $accent-600;
      }
    }

    .hero-text {
      opacity: 0;
      animation: right-reveal 1s ease 1.2s forwards;
      color: $neutral-50;
      width: clamp(280px, 75%, 600px);

      h1 {
        font-size: clamp(2.119rem, 1.79591rem + 2.413vw, 4.209rem);
      }

      h1:nth-of-type(2) {
        font-size: clamp(4.541875rem, 4.31525rem + 1.295vw, 5.61rem);
        margin-bottom: 8px;

        // Selects only the first letter.
        &:nth-of-type(2)::first-letter {
          color: $accent-600;
        }

        span:nth-of-type(2) {
          white-space: nowrap;
        }
      }

      h5 {
        font-size: clamp(1.44rem, 1.37893rem + 0.349vw, 1.728125rem);
        color: $sec-500;
        margin-bottom: 8px;
      }

      p {
        font-size: 1rem;
        margin: 10px 15px 10px 0;
      }

      .location {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        color: $accent-600;
        margin-top: 24px;
        margin-bottom: 24px;

        p {
          margin: 0;
          font-size: clamp(0.75rem, 0.69698rem + 0.303vw, 1rem);
        }

        i {
          margin: 0 4px 0 4px;
          color: $accent-600;
          animation: hover 2s 3s infinite;
        }
      }
    }
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: clamp(0.75rem, 0.67388rem + 0.435vw, 1rem);

  .btn {
    background-color: $accent-300;
    color: $neutral-black;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    min-width: 104px;
    min-height: 42px;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 500;
  }

  .btn:hover {
    background-color: $accent-500;
    box-shadow: 0px 10px 15px -8px $sec-700;
  }

  .btn:nth-of-type(2) {
    border: 1px solid $neutral-50;
    color: $neutral-50;
    background-color: rgba(0, 0, 0, 0.308);

    &:hover {
      background-color: $neutral-50;
      color: $neutral-black;
      border-color: $neutral-black;
      box-shadow: 0px 10px 15px -8px $primary-300;
    }
  }
}

#about {
  background-color: $neutral-50;
  width: 100%;

  .text-box {
    text-align: center;
    width: 100%;
    padding: 1em 1em 2em 1em;
    line-height: 1.5;

    h2 {
      font-family: "Merriweather", serif;
      color: $primary-500;
      font-size: clamp(1.776875rem, 1.4841rem + 1.673vw, 3.157rem);
    }

    p {
      width: clamp(280px, 100%, 75ch);
      color: $primary-700;
      line-height: 1.5;
      padding: 1em;
    }
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    //flex-direction: row-reverse; //reverse
    background-color: $primary-50;

    .anchor {
      position: relative;
      min-height: clamp(18.75rem, 14.77278rem + 22.727vw, 37.5rem);
      min-width: 50%;
      margin-bottom: 5.5em;

      .profile-image {
        position: absolute;
        top: -4em;
        right: -5em;
        height: clamp(31.25rem, 25.94698rem + 30.303vw, 56.25rem);
        width: clamp(31.25rem, 25.94698rem + 30.303vw, 56.25rem);
        object-fit: cover;
        background-color: $primary-300;
        mask-image: url("./mask.webp");
        -webkit-mask-image: url("./mask.webp");
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        z-index: 799;

        background-image: url("./profile.png");
        background-size: 1800px;
        background-position: 25% center;
        background-repeat: no-repeat;
      }
    }

    .text-box {
      width: clamp(280px, 100%, 60ch);
      margin: clamp(0.25em, 0.09093em + 0.909vw, 1em);
      z-index: 800;
      text-align: left;

      h6 {
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: $primary-300;
        margin-bottom: 4px;
      }

      h4 {
        color: $primary-500;
        font-family: "Merriweather", serif;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 2em;
        line-height: 1.5;
        padding: 0;
        width: clamp(220px, 100%, 60ch);
      }
    }
  }
}

.center {
  text-align: center;
  .p {
    width: clamp(280px, 40ch, 80%);
  }
}

#events {
  width: 100%;
  padding: 1.5em;

  h2 {
    color: $primary-500;
    padding-top: 1em;
  }

  p {
    color: $primary-700;
    line-height: 1.5;
    width: clamp(220px, 100%, 60ch);
    margin: 1.5em auto;
    text-align: center;
  }

  a {
    color: $neutral-black;
    margin-bottom: 2.5em;
    margin: 1.5em auto;
  }

  .accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;

    .item-container {
      position: relative;
      width: 10%;
      min-width: 120px;
      height: 650px;
      border-radius: 12px;
      overflow: hidden;
      transition: 0.5s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: 0.5s;
      }

      .event-text {
        container-type: inline-size;
        position: absolute;
        bottom: -200px;
        left: 0;
        top: 0;
        padding: clamp(0.5em, 0.2879em + 1.212vw, 1.5em);
        transition: 0.3s;
        font-size: 1.44rem;
        font-weight: 600;
        width: 100%;
        color: $neutral-50;
        opacity: 0;

        h3 {
          color: $primary-300;
          margin-bottom: 16px;
          font-size: clamp(1.44rem, 1.16715rem + 1.819vw, 2.98625rem);
        }

        p {
          color: $primary-50;
          text-align: left;
          margin: 0;
          width: clamp(12.5rem, 7.72723rem + 27.273vw, 35rem);
          font-weight: 500;
          margin-bottom: 8px;
          font-size: clamp(0.75rem, 0.68575rem + 0.514vw, 1.2rem);
        }

        a {
          //min-width: 4.57em;
          margin-top: 0.57em;
          height: 3em;
          color: $neutral-50;
          border-radius: 3px;
          //text-decoration: none;
          font-size: 0.875rem;
          font-family: "Work Sans", sans-serif;
          font-weight: 300;

          &:hover {
            color: $accent-500;
          }
        }
      }

      .event-bottom {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1.5em;
        background: linear-gradient(rgba(16, 27, 48, 0), rgba(16, 27, 48, 0.8));

        .calendar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $neutral-black;
          border-radius: 12px;
          height: 100px;
          min-width: 100px;
          padding: 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;

          p {
            width: auto;
            height: auto;
            margin: 0;
          }

          .day {
            color: $neutral-50;
            font-size: 2rem;
          }

          .month {
            color: $primary-100;
            margin-top: -8px;
          }

          .year {
            color: $primary-400;
          }
        }

        .location {
          display: none;
          justify-content: center;

          p {
            max-width: auto;
            height: auto;
            margin: 0;
            color: $neutral-50;
          }

          .address {
            white-space: nowrap;
            margin-left: 0.5em;

            p {
              text-align: left;
              margin-left: 8px;
              font-size: clamp(0.75rem, 0.62505rem + 0.833vw, 1.25rem);
            }

            div {
              display: flex;
              align-items: center;
              margin-top: 1em;
              i {
                animation: none;
                color: $neutral-50;
                margin-left: 0.5em;
                font-size: clamp(0.75rem, 0.62505rem + 0.833vw, 1.25rem);
              }

              .location-name {
                font-weight: 600;
              }
            }
          }
        }
      }

      &.expanded {
        width: 60%;

        img {
          animation: zoom 1.5s forwards;
          filter: brightness(0.3);
        }

        .event-text {
          opacity: 1;
        }

        .event-bottom {
          justify-content: flex-start;
        }

        .location {
          display: flex;
        }
      }
    }
  }
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $neutral-black;

  h2 {
    color: $primary-50;
    padding-top: 2em;
  }

  p {
    color: $neutral-200;
  }

  a {
    color: $neutral-200;
    margin-bottom: 2.5em;
  }

  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 1em;
    border: none;
    outline: none;
    background-color: $neutral-50;

    img {
      width: 100%;
      min-width: 230px;
      height: 100%;
      object-fit: cover;
    }

    h5 {
      font-family: "Merriweather", serif;
      font-size: 1.777rem;
      margin-bottom: 0.5em;
      color: $sec-500;
    }

    p {
      color: $primary-900;
    }
  }

  .paintings {
    margin: 2em;
    width: 90%;
    display: grid;
    grid-row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    justify-items: center;
    align-items: center;
  }

  .paintings > .open-modal {
    width: 12em;
    height: calc(12em * 1.618);
    border: 2px solid $accent-600;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease-in-out;
    }

    &:hover img {
      //zoom in on image
      transform: scale(1.1);
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0.5em;
      transform: translateY(3rem);
      color: $neutral-50;
      transition: 0.5s ease-in-out;
      font-family: "Merriweather", serif;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }

    &:hover p {
      transform: translateY(0);
    }
  }
}

.sold {
  filter: grayscale(100%);

  &:hover {
    filter: none;
  }
}

.studio {
  width: 100%;
  min-height: 80vh;
  max-height: 800px;
  background-image: url("./studio.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  .text-box {
    width: clamp(240px, 60%, 75ch);
    background-color: rgba(16, 27, 48, 0.9);
    padding: 2.5em;
    border: 1px solid $accent-600;
  }

  h4 {
    color: $sec-500;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    font-size: clamp(1.2rem, 0.64354rem + 2.343vw, 2.98625rem);
  }
}

#contact {
  width: 100vw;
  padding: 2em 0 4em 0;
  background-color: $primary-50;

  display: grid;
  align-items: center;

  .contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 10px;
    background-color: $neutral-50;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .contact-map {
    width: 100%;
    height: auto;
    flex: 50%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 12px;

    i {
      color: $primary-500;
      font-size: 2.488rem;
      transform: translateY(0.125rem);
    }

    h2 {
      margin-bottom: 10px;
      color: $primary-500;
      display: inline;
      font-size: 2.488rem;
    }

    .inputbox {
      position: relative;

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $primary-500;
        background-color: $neutral-50;
        border-radius: 5px;
        outline: none;
        color: $primary-500;
        font-size: 1.125rem;
      }

      span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1.125rem;
        color: $primary-200;
        text-transform: uppercase;
        transition: 0.3s;
      }

      input:valid ~ span,
      input:focus ~ span,
      textarea:valid ~ span,
      textarea:focus ~ span {
        color: $primary-500;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.75rem;
        padding: 0 10px;
        background-color: $neutral-50;
        letter-spacing: 0.2em;
      }
    }

    .contact-form-txt {
      width: 100%;
      height: 40px;
      color: $neutral-black;
      border: 1px solid $neutral-50;
      outline: none;
      margin-bottom: 20px;
      padding: 15px;

      &::placeholder {
        color: $primary-500;
      }
    }

    .contact-form-textarea {
      width: 100%;
      min-height: 130px;
      color: $neutral-black;
      border: 1px solid $neutral-50;
      border-radius: 10px;
      outline: none;
      margin-bottom: 20px;
      padding: 15px;

      &::placeholder {
        color: $primary-500;
      }
    }

    .contact-form-btn {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      background: $sec-600;
      color: $sec-50;
      text-transform: uppercase;
      padding: 10px 0;
      cursor: pointer;
      font-size: 1.333rem;
      transition: 0.3s;

      &:hover {
        background: $sec-700;
      }
    }
  }
}

footer {
  width: 100%;
  color: $neutral-50;
  background-color: $primary-50;

  svg {
    margin-bottom: -5px;
  }

  div {
    background-color: $neutral-black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul:first-of-type {
      gap: 1rem;

      li i {
        color: $neutral-50;
        font-size: 1rem;
        cursor: pointer;
        transition-duration: 0.3s;
        background-color: $primary-300;
        padding: 15px;
        border-radius: 50px;

        &:hover {
          margin: 0 15px 0 15px;
          transform: scale(1.2);
        }
      }
    }
  }

  & ul:last-of-type {
    gap: 1rem;
    li {
      a {
        color: $neutral-50;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  div:last-child {
    width: 100%;
    text-align: center;
    z-index: 99;

    a {
      color: $neutral-100;
      text-decoration: none;
      font-size: 0.875rem;
    }
  }
}

@media (hover: hover) or (pointer: fine) {
  /* TouchScreen Support */
  .sidebar ul li:hover i {
    transform: rotate(-25deg) scale(1.2);
  }

  .sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }

  .row .column i:hover {
    transform: rotate(-25deg) scale(1.2);
    text-shadow: 0 0 10px $sec-700;
  }

  .paintings > .open-modal:hover img {
    transform: scale(1.1);
  }

  .paintings > .open-modal:hover p {
    transform: translateY(0);
  }

  footer ul:first-of-type li i:hover {
    margin: 0 15px 0 15px;
    transform: scale(1.2);
  }
}

// Mobile layout
@media (max-width: 850px) {
  .nav-desktop li:nth-child(2),
  .nav-desktop li:nth-child(3),
  .nav-desktop li:nth-child(4),
  .nav-desktop li:nth-child(5) {
    display: none;
  }

  .hero-text {
    margin-left: 2em;
  }

  .row .column {
    display: none !important;
  }

  .hamb {
    display: block !important;
  }

  #header ul li .btn {
    margin-right: 24px;
  }

  #events .accordion {
    flex-direction: column;

    .item-container {
      width: 100%;
      height: 150px;

      &.expanded {
        height: 480px;
        width: 100%;
      }
    }
  }
}
