.sidebar {
  position: fixed;
  top: 80px;
  right: -440px;
  transition: 0.3s right;
  height: auto;
  width: 350px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar ul:nth-of-type(2) {
  margin-top: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sidebar ul:nth-of-type(2) li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar ul:nth-of-type(2) li a {
  padding: 15px 5px;
  font-size: 1.25rem;
}
.sidebar ul:nth-of-type(2) li i {
  transition: 0.3s;
}
.sidebar ul:nth-of-type(2) li a:hover i,
.sidebar ul:nth-of-type(2) li a:active i {
  transform: rotate(-25deg) scale(1.2);
}

.sidebar.active {
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Ensures no horizontal scroll bar */
  width: 100%;
  background-color: #f6f7f8;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}

/*
.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10em);
  backdrop-filter: blur(10em);
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
*/
@keyframes up-reveal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes right-reveal {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.logo img {
  height: 60px;
  padding: 5px 5px;
}

nav .btn {
  padding: 0 8px;
  transition: 0.3s;
  margin: 5px 30px 0 15px;
  border-radius: 3px;
  min-width: 64px;
  height: 36px;
  color: #00040d;
  background-color: #e8d0ab;
  border-color: #00040d;
  font-size: 0.875rem;
}

nav .btn:hover,
nav .btn:active {
  background-color: #e3c797 !important;
  color: #00040d !important;
  border-color: #00040d !important;
}

.hamb {
  margin-top: 15px;
  margin-right: 15px;
  display: none;
  width: 32px;
  cursor: pointer;
  position: relative;
}

.hamb span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f6f7f8;
  transition-duration: 0.3s;
  transition-property: opacity transform;
}

.hamb span.mid {
  margin: 7px 0;
}

.hamb.active span.top {
  transform: translateY(9px) rotate(42deg);
}

.hamb.active span.mid {
  opacity: 0;
}

.hamb.active span.bot {
  transform: translateY(-9px) rotate(-42deg);
}

nav {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.875rem;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  transition: 0.3s;
  opacity: 0;
  animation: up-reveal 1s ease 2s forwards;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

a {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

nav a {
  height: 100%;
  padding: 0 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f6f7f8;
  position: relative;
  transition: 0.5s;
}

.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  width: 60%;
  margin: 0 20%;
  height: 3px;
  background: #bf3459;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a:hover {
  color: #f9ebee;
}
.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav li:first-child {
  margin-right: auto;
}

nav a img {
  height: 60px;
}

.sidebar li {
  width: 100%;
}
.sidebar li:hover, .sidebar li:active {
  background-color: rgba(255, 255, 255, 0.384);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes zoom {
  0% {
    background-position: right top;
    transform: scale(1);
  }
  100% {
    background-position: left bottom;
    transform: scale(1.2);
  }
}
@keyframes move-mask {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 100px;
  }
}
@keyframes move-padding {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }
}
h1 {
  font-family: "Merriweather", serif;
  font-style: italic;
}

h3 {
  font-family: "Work Sans", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
}

.hero {
  overflow: hidden;
  min-height: 110vh;
  min-width: 100vw;
  position: relative;
}
.hero::before {
  content: "";
  background-image: url("./hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoom 3s forwards;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: zoom 3s forwards;
  transform: scale(1);
}
.hero .overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.hero .overlay .mask {
  position: absolute;
  bottom: 0px;
  animation: move-mask 1.1s 2s forwards;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #f6f7f8;
  -webkit-mask-image: url("./0.png");
  -webkit-mask-image: url("./0.png");
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 400px 100px;
  -webkit-mask-position: bottom;
}
.hero .overlay .padding {
  width: 100%;
  height: 0px;
  animation: move-padding 1.1s 2s forwards;
  background-color: #f6f7f8;
  text-align: center;
}
.hero .overlay .padding h2 {
  font-family: "Merriweather", serif;
  color: #88253f;
  font-size: 2.125rem;
}
.hero .row {
  display: flex;
  width: clamp(300px, 100%, 700px);
  margin-top: calc(8vw + 80px);
  margin-left: 0;
}
.hero .row .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: right-reveal 1s ease 2s forwards;
  margin-left: 2vw;
  margin-right: 2vw;
}
.hero .row .column i {
  color: #c8a872;
  font-size: 2.5rem;
  transition: 0.3s;
}
.hero .row .column i:hover {
  transform: rotate(-25deg) scale(1.2);
  text-shadow: 0 0 10px #88253f;
}
.hero .row .column span {
  height: 20%;
  border-right: 1px solid #c8a872;
}
.hero .row .hero-text {
  opacity: 0;
  animation: right-reveal 1s ease 1.2s forwards;
  color: #f6f7f8;
}
.hero .row .hero-text h1 {
  font-size: 3.708125rem;
}
.hero .row .hero-text h1:nth-of-type(2) {
  font-size: 6rem;
}
.hero .row .hero-text h1:nth-of-type(2):nth-of-type(2)::first-letter {
  color: #c8a872;
}
.hero .row .hero-text h1:nth-of-type(2) span:nth-of-type(2) {
  white-space: nowrap;
}
.hero .row .hero-text h3 {
  font-size: 1.41625rem;
  color: #bf3459;
}
.hero .row .hero-text p {
  font-size: 1.125rem;
  margin: 10px 15px 10px 0;
}
.hero .row .hero-text .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #c8a872;
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hero .row .hero-text .location p {
  margin: 0;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Save for later
@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(-1px);
  }
}
*/
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-location-dot {
  animation: hover 2s 3s infinite;
}

.cta {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}
.cta .btn {
  background-color: #e8d0ab;
  color: #00040d;
  padding: 0 8px;
  border-radius: 3px;
  text-align: center;
  min-width: 120px;
  min-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
}
.cta .btn:hover {
  background-color: #e3c797;
}
.cta .btn:nth-of-type(2) {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
}
.cta .btn:nth-of-type(2):hover {
  background-color: #f6f7f8;
  color: #00040d;
  border-color: #00040d;
}

#about {
  background-color: #f6f7f8;
  width: 100%;
}
#about .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eaeff0;
}
#about .row .anchor {
  position: relative;
  min-height: 600px;
  min-width: 50%;
  margin-bottom: 5.5em;
}
#about .row .anchor .profile-image {
  position: absolute;
  top: -4em;
  right: -1em;
  height: 900px;
  width: 900px;
  object-fit: cover;
  background-color: #6e7fa1;
  mask-image: url("./15.png");
  -webkit-mask-image: url("./15.png");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-image: url("./profile.png");
  background-size: 1800px;
  background-position: 25% center;
  background-repeat: no-repeat;
}
#about .row .text-box {
  width: clamp(325px, 100%, 75ch);
  margin: 1em;
  z-index: 800;
}
#about .row .text-box h4 {
  color: #88253f;
  font-family: "Merriweather", serif;
  font-size: 1.75rem;
}
#about .row .text-box p {
  color: #101b30;
  line-height: 1.5;
  margin-bottom: 2em;
}
#about .row .text-box .row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin: 0;
  gap: 1em;
}
#about .row .text-box .row .card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  border-radius: 10px;
  background-color: #f6f7f8;
  width: clamp(325px, 45%, 75ch);
  min-height: 350px;
}
#about .row .text-box .row .card i,
#about .row .text-box .row .card h4 {
  color: #101b30;
  font-size: 1.375rem;
}
#about .row .text-box .row .card h4 {
  display: inline;
}
#about .row .text-box .row .card p {
  margin-top: 0.5em;
  color: #101b30;
}
#about .story .row {
  background-color: #f6f7f8;
  width: 100%;
}
#about .story .row .text-box {
  width: clamp(325px, 100%, 75ch);
}
#about .story .row:first-child {
  flex-direction: row-reverse;
}
#about .story .row:first-child .anchor {
  border: 1px red solid;
  min-height: 300px;
}
#about .story .row:first-child .anchor div {
  position: absolute;
  top: 0;
  left: 25%;
  min-width: 350px;
  width: 25vw;
  min-height: 350px;
  height: 25vw;
  background-image: url("./ahus.webp");
  background-size: cover;
  mask-image: url("./15.png");
  -webkit-mask-image: url("./15.png");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
}
#about .story .row:nth-child(2) .anchor {
  background-color: green;
  min-height: 350px;
}
#about .story .row:nth-child(3) {
  flex-direction: row-reverse;
}
#about .story .row:nth-child(3) .anchor {
  background-color: blue;
  min-height: 400px;
}

.center {
  text-align: center;
  margin: 1em;
}
.center .p {
  width: clamp(300px, 40ch, 80%);
}

.studio {
  width: 100%;
  min-height: 80vh;
  max-height: 800px;
  background-image: url("./studio.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studio .text-box {
  width: clamp(325px, 60%, 75ch);
  background-color: rgba(16, 27, 48, 0.9);
}
.studio p {
  color: #eaeff0;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.5;
  padding: 1em;
  text-align: center;
  font-size: 2.625rem;
  border: 1px solid #c8a872;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.triad {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

.triad > div {
  width: 250px;
  height: 154.5px;
  background-color: rgb(236, 236, 236);
  border: 1px solid #00040d;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

hr {
  width: 50%;
  height: 1px;
}

.paintings {
  margin: 4rem;
  width: 90%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  justify-items: center;
  align-items: center;
}

.paintings > div {
  width: 8em;
  height: 5em;
  background-color: rgb(236, 236, 236);
  border: 1px solid #00040d;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact {
  width: 100vw;
  padding: 2em 2em 5em 2em;
  background-color: #6e7fa1;
  display: grid;
  align-items: center;
}
#contact .contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f7f8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact .contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
#contact .contact-map iframe {
  width: 100%;
  height: 100%;
}
#contact .contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
#contact .contact-form i {
  margin-bottom: 0.5em;
  color: #bf3459;
  font-size: 1.375rem;
}
#contact .contact-form h2 {
  margin-bottom: 1em;
  color: #bf3459;
  font-family: "Work Sans", serif;
  display: inline;
}
#contact .contact-form .contact-form-txt {
  width: 100%;
  height: 40px;
  color: #00040d;
  border: 1px solid #f6f7f8;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-txt::placeholder {
  color: #6e7fa1;
}
#contact .contact-form .contact-form-textarea {
  width: 100%;
  min-height: 130px;
  color: #00040d;
  border: 1px solid #f6f7f8;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-textarea::placeholder {
  color: #6e7fa1;
}
#contact .contact-form .contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #101b30;
  color: #eaeff0;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.125rem;
}

footer {
  min-height: 150px;
  width: 100%;
  background-color: #00040d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .mask {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  background-color: #00040d;
  -webkit-mask-image: url("./0.png");
  -webkit-mask-image: url("./0.png");
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 400px 100px;
  -webkit-mask-position: bottom;
}
footer .logo img {
  position: absolute;
  bottom: 2em;
  right: 2em;
  height: 5em;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul:first-of-type {
  gap: 1rem;
}
footer ul:first-of-type li i {
  color: #f6f7f8;
  font-size: 0.9375rem;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #6e7fa1;
  padding: 15px;
  border-radius: 50px;
}
footer ul:first-of-type li i:hover, footer ul:first-of-type li i:active {
  margin: 0 15px 0 15px;
  transform: scale(1.2);
}
footer ul:last-of-type {
  gap: 1rem;
}
footer ul:last-of-type li a {
  color: #f6f7f8;
  text-decoration: none;
}
footer ul:last-of-type li a:hover {
  text-decoration: underline;
}
footer div:last-child {
  width: 100%;
  text-align: center;
}
footer div:last-child a {
  color: #e3e5eb;
  text-decoration: none;
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .triad {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 1rem;
  }
  .triad > div {
    width: 80vw;
    height: 16.4812525752vw;
  }
}
@media (max-width: 850px) {
  .nav-desktop li:nth-child(2),
  .nav-desktop li:nth-child(3),
  .nav-desktop li:nth-child(4),
  .nav-desktop li:nth-child(5) {
    display: none;
  }
  .row .column {
    display: none !important;
  }
  .hamb {
    display: block !important;
  }
  .studio p {
    font-size: 1rem;
    padding: 2em;
  }
}
@media (max-width: 430px) {
  .hero .row {
    width: 300px;
    margin-left: 0.5rem;
  }
  .hero .row h3 {
    font-size: 0.9375rem;
  }
  .hero .row h1 {
    font-size: 1.5125rem;
  }
  .hero .row h1:nth-of-type(2) {
    font-size: 3.125rem;
  }
  .hero .row .location p {
    font-size: 0.625rem;
    white-space: nowrap;
  }
  .hero .row p {
    font-size: 0.75rem;
  }
  .hero .row .cta {
    gap: 0px;
    align-items: flex-start;
  }
  .hero .row .cta .btn {
    padding: 8px 5px;
    width: 8rem;
    height: 40px;
    margin: 4px 5px 0 5px;
    font-size: 0.625rem;
  }
  .hero .row .studio p {
    font-size: 1rem;
    padding: 1em;
  }
  .logo img {
    height: 50px;
  }
  nav .btn {
    padding: 8px 5px;
    width: 7rem;
    height: 40px;
    margin: 4px 15px 0 15px;
    font-size: 0.3125rem;
  }
  .sidebar {
    width: 100%;
  }
  #header .nav-desktop li a[href="#home"] {
    padding: 8px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
