{% extends "home/layout.html" %} {% load static %} {% block meta %}
<meta property="og:title" content="Ekerhorn Art" />
    <meta
      property="og:description"
      content="Välkommen till mitt onlinegalleri, där du hittar ett litet urval av mina målningar och dikter. Varje målning har en historia bakom sig, som jag vill dela genom mina ord."
    />
    <meta property="og:image" content="{% static 'home/images/meta.jpg' %}" />
    <meta property="og:url" content="www.ekerhorn.com" />
    <title>Ekerhorn Art</title>
{% endblock %}
{% block head %}
<link href="{% static 'home/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'home/script.js' %}"></script>
{% endblock %} {% block content %}
<section id="home">
  <div class="hero">
    <div class="header-background"></div>
    <img
      class="hero-background"
      src="{% static 'home/images/hero-s.jpg' %}"
      srcset="{% static 'home/images/hero-s.jpg' %} 500w, {% static 'home/images/hero-m.jpg' %} 1000w, {% static 'home/images/hero-l.jpg' %} 1600w"
      sizes="(max-width: 500px) 400px,
              (max-width: 1000px) 800px,
              1600px"
      alt="hero background"
    />
    <div class="row">
      <div class="column">
        <a href="https://www.facebook.com/EkerhornArt/" title="My Facebook"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>

        <span></span>

        <a href="https://www.threads.net/@ekerhorn" title="My Threads"
          ><i class="fa-brands fa-square-threads"></i
        ></a>

        <span></span>

        <a href="https://www.instagram.com/ekerhorn/" title="My Instagram"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>

      <div class="hero-text">
        <h5>Mattias Ekerhorn</h5>
        <h1>Konstnär med</h1>
        <h1>
          <span>Poesi</span>
          <span>& Färg</span>
        </h1>
        <p>
          Målningar och dikter som utforskar identitet, känslor och skönhet.
          Upptäck konst av en ny vision och stil.
        </p>
        <div class="location">
          <p>Just nu i</p>
          <i class="fa-solid fa-location-dot"></i>
          <p>Göteborg | Sverige</p>
        </div>
        <div class="cta">
          <a href="#contact" class="btn wrapper" title="Kontakta mig"
            >KONTAKTA MIG</a
          >
          <a href="#events" class="btn wrapper" title="Events">EVENTS</a>
        </div>
      </div>
    </div>

    <img
      src="{% static 'home/images/divider.png' %}"
      alt="divider"
      class="overlay"
    />
  </div>
</section>

<section id="about">
  <div class="text-box wrapper">
    <h2>Välkommen till Ekerhorn Art</h2>
    <p>
      Välkommen till mitt onlinegalleri, där du hittar ett litet urval av mina
      målningar och dikter. Varje målning har en historia bakom sig, som jag
      vill dela genom mina ord.
    </p>
  </div>
  <div class="background">
    <div class="row">
      <picture
    class="blur-load"
    style="
        background-image: url({% static 'home/images/portrait-small-p.png' %});
        "
      >
        <source
          type="image/webp"
          srcset="{% static 'home/images/portrait-small.webp' %} 500w, {% static 'home/images/portrait-medium.webp' %} 1000w, {% static 'home/images/portrait-large.webp' %} 1600w"
        />
        <img
          src="{% static 'home/images/portrait-small.png' %}"
          srcset="{% static 'home/images/portrait-small.png' %} 500w, {% static 'home/images/portrait-medium.png' %} 1000w, {% static 'home/images/portrait-large.png' %} 1600w"
          sizes="(max-width: 500px) 400px,
                (max-width: 1000px) 800px,
                1600px"
          loading="lazy"
          class="profile-image"
          alt="portrait photo"
        />
      </picture>

      <div class="text-box">
        <h6>Hej på er</h6>
        <h4>Jag är Mattias Ekerhorn</h4>

        <p>
          Läkare och konstnär, med stor passion för konstens alla former. Jag
          skapar modern konst och dikter som utforskar teman om identitet,
          känsla och skönhet. Nedan kan du se några av mina verk, läsa mina
          dikter och lära dig mer om mig och min konstnärliga vision.
          <br /><br />Jag hoppas att du finner något som berör dig, och att du
          kommer tillbaka ofta för att se mina senaste verk. Följ mig på en resa
          genom konst, poesi och färg.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="events">
  <h2 class="center">Events</h2>
  <p>
    Följ med oss på kommande konstgallerier där mitt arbete står i centrum. Bli
    en del av en upplevelse som sträcker sig över målarduken.
  </p>

  <div class="accordion">
    {% for event in events %}
    <picture
      class="item-container blur-load {% if forloop.first %}expanded{% endif %}"
      style="--bg-image: url({{ event.get_resized_image_urls.img_0_url }});"
    >
      <source
        type="image/webp"
        srcset="{{ event.get_resized_image_urls.webp_1_url }} 500w, {{ event.get_resized_image_urls.webp_2_url }} 1000w"
      />
      <img
        src="{{ event.get_resized_image_urls.img_1_url }}"
        srcset="{{ event.get_resized_image_urls.img_1_url }} 500w, {{ event.get_resized_image_urls.img_2_url }} 1000w"
        sizes="(max-width: 500px) 400px,
              (max-width: 1000px) 800px"
        loading="lazy"
        alt="Bakgrund för {{ event.name }}"
      />

      <div class="event-text">
        <h3>{{ event.name }}</h3>
        <p>{{ event.description }}</p>
        <a href="{% url 'events:event' event.id %}" title="Läs mer">LÄS MER</a>
      </div>
      <div class="event-bottom">
        <div class="calendar">
          <p class="day">{{ event.date|date:"d" }}</p>
          <p class="month">{{ event.date|date:"F" }}</p>
          <p class="year">{{ event.date|date:"Y" }}</p>
        </div>

        <div class="location">
          <div class="address">
            <div>
              <i class="fa-solid fa-location-dot"></i>
              <p class="location-name">{{ event.location_name }}</p>
            </div>
            <p class="location-address">{{ event.street }}</p>
            <p class="location-city">{{ event.city }}</p>
          </div>
        </div>
      </div>
    </picture>
    {% empty %}
    <p>No events</p>
    {% endfor %}
  </div>

  <a href="{% url 'events:index' %}" title="Se alla events"><p>Se Alla</p></a>
</section>

<section id="gallery">
  <h2>Galleri</h2>
  <p>Ett urval av mina senaste verk</p>
  <div class="paintings">
    {% for painting in paintings %}
    <dialog
      class="modal"
    >
      <picture class="vignette">
        <source type="image/webp" srcset="{{ painting.get_resized_image_urls.webp_1_url }} 500w, {{ painting.get_resized_image_urls.webp_2_url }} 1000w" />
        <img
          src="{{ painting.get_resized_image_urls.img_1_url }}" srcset="{{ painting.get_resized_image_urls.img_1_url }} 500w, {{ painting.get_resized_image_urls.img_2_url }} 1000w" sizes="(max-width: 500px) 400px, (max-width: 1000px) 800px"
          alt="Målning {{ painting.name }}" loading="lazy"
        />
      </picture>
      <h5>{{ painting.name }}</h5>
      <p>{{ painting.poem|linebreaksbr }}</p>
      <a href="{% url 'gallery:painting' painting.id %}">Läs mer</a>
    </dialog>
    {% if painting.sold %}
    <picture class="open-modal blur-load vignette sold" style="--bg-image: url({{ painting.get_resized_image_urls.img_0_url }});">
    {% else %}
    <picture class="open-modal blur-load vignette" style="--bg-image: url({{ painting.get_resized_image_urls.img_0_url }});">
    {% endif %}
        <source type="image/webp" srcset="{{ painting.get_resized_image_urls.webp_1_url }} 500w, {{ painting.get_resized_image_urls.webp_2_url }} 1000w" />
        <img
          src="{{ painting.get_resized_image_urls.img_1_url }}" srcset="{{ painting.get_resized_image_urls.img_1_url }} 500w, {{ painting.get_resized_image_urls.img_2_url }} 1000w" sizes="(max-width: 500px) 400px, (max-width: 1000px) 800px"
          alt="Målning {{ painting.name }}" loading="lazy"
        />
      <p>{{ painting.name }}</p>
    </picture>
    {% empty %}
    <p>No paintings</p>
    {% endfor %}
  </div>

  <a href="{% url 'gallery:index' %}" title="Se fler">Se Fler</a>
</section>

<section class="studio">
  <div class="text-box">
    <h4>
      Varje målning åtföljs av en dikt, som avslöjar inspirationen och meningen
      bakom konstverket
    </h4>
  </div>
</section>

<section id="contact">
  <div class="contact-in">
    <div class="contact-map">
      <!-- google maps -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2132.59276304478!2d11.971679199999999!3d57.6893985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff3404f96d5f5%3A0x568bad4381f766ec!2sEkerhorn%20Atelj%C3%A9!5e0!3m2!1ssv!2ses!4v1700405763257!5m2!1ssv!2ses"
        width="100%"
        height="auto"
        style="border: 0"
        allowfullscreen=""
        loading="async"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ekerhorn Atelje"
        loading="lazy"
      ></iframe>
    </div>

    <div class="contact-form">
      <div>
        <i class="fa-regular fa-envelope"></i>
        <h2>Kontakt</h2>
      </div>
      <form action="{% url 'home:index' %}" method="post" id="post-form">
        {% csrf_token %} {% for field in form %}
        <div class="input-container">{{ field }} {{ field.label_tag }}</div>
        {% endfor %}
        <button type="submit" class="contact-form-btn">Skicka</button>
      </form>
      <script defer>
        const form = document.getElementById("post-form");
        form.addEventListener("submit", submitHandler);

        function submitHandler(event) {
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: "{% url 'home:index' %}",
            data: $("#post-form").serialize(),
            dataType: "json",
            success: function (data) {
              console.log(data.name);
              //Empty the form
              form.reset();
              // Save the first name into a variable
              let name = data.name.split(" ")[0];
              name = name[0].toUpperCase() + name.slice(1);
              // Change the inner html of .contact-form-btn to "Tack för ert meddelande, {{ name }}."
              $(".contact-form-btn").html("Hej, " + name + "!");
              // Change the background-color of .contact-form-btn to blue
              $(".contact-form-btn").css({
                "background-color": "var(--a-main)",
                color: "var(--a-light)",
              });
              setTimeout(function () {
                $(".contact-form-btn").html("Skicka");
                $(".contact-form-btn").css({
                  "background-color": "var(--b-main)",
                  color: "var(--b-light)",
                });
              }, 8000);
            },
          });
        }
      </script>
    </div>
  </div>
</section>
{% endblock %}
