h1 {
  font-size: clamp(2.119rem, 1.79591rem + 2.413vw, 4.209rem);
}

main {
  background-color: #e9ecf1;
  padding: clamp(0.25em, -0.75765em + 5.758vw, 5em);
}

.events-container {
  margin: 2em;
  width: 100vw;
  display: grid;
  grid-row-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  align-items: start;
  padding: 24px;
  min-height: 80vh;
}

.events-container div {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
}

.events-container div:hover {
  transform: translateY(-16px);
}

.events-container div h3 {
  position: absolute;
  top: 0;
  color: white;
  padding: 16px;
}

.events-container div h6 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 16px;
}

.events-container div img {
  object-fit: cover;
}

.event-slide {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.background h1 {
  margin-top: 8px;
  color: #6e7fa1;
}

.background h3 {
  color: #c52c55;
  font-size: clamp(1rem, 0.83515rem + 0.942vw, 1.777rem);
}

.background h4 {
  color: #e9ecf1;
}

.background h5 {
  color: #c8a872;
}

.info-box {
  background-color: #00040d;
  padding: 16px;
  padding-bottom: 24px;
}

.location {
  color: #f6f7f8;
  padding-bottom: 16px;
}

.background p {
  line-height: 1.5;
  max-width: 75ch;
  text-align: center;
  color: white;
  margin: 8px 0 24px 0;
}

.background .row {
  display: flex;
  justify-content: space-around; /*Will center items as they wrap around*/
  padding: 16px 0;
  margin-bottom: 12px;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 20px;
}

i {
  margin-right: 4px;
  color: white;
  transition: 0.3s;
}

.share-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  align-self: center;
}

.social i {
  font-size: 2.2rem;
}

.social i:hover {
  transform: rotate(-25deg) scale(1.2);
}

.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 64px;
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  color: white;
  transition: 0.3s;
  white-space: nowrap;
}

.btn:hover,
.btn:hover i {
  color: #00040d;
}

.btn:hover {
  background-color: #fefefe;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 24px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background .filter {
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 25px;
}

.text-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10em);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.background .return {
  color: #f6f7f8;
  position: absolute;
  inset: clamp(1rem, 0.53284rem + 1.967vw, 2.5rem);
}

.background .text-box {
  padding: 16px;
}
