:root {
  --a-main: #122849;
  --b-main: #e44564;
  --a-dark: #18293b;
  --a-medium: #6e7fa1;
  --a-light: #ebeff4;
  --b-light: #fde9ec;
  --accent: #dcb97d;
  --neutral: #f7f7f7;
  --dark: #00040d;
  --main-margin: clamp(0.5em, -1.51513em + 11.515vw, 10em);
}

@font-face {
  font-family: Merriweather;
  src: url(./fonts/Merriweather-BoldItalic.ttf);
}

@font-face {
  font-family: Josefin-Sans;
  src: url(./fonts/JosefinSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Ensures no horizontal scroll bar */
  width: 100%;
  background-color: var(--neutral);
  font-size: 1rem;
  font-family: Josefin-Sans, sans-serif;
}

.blur-load {
  opacity: 0;
  transition: 0.5s;
}

.blur-load.loaded {
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 64px;
  right: -440px;
  transition: 0.3s right;
  height: auto;
  width: 350px;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar ul li {
  display: flex;
  justify-content: center;
}

.sidebar ul i {
  margin: 0 auto;
}
.sidebar ul:nth-of-type(1) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.sidebar ul:nth-of-type(2) li a {
  width: 100%;
  height: 100%;
  font-size: 1.333rem;
}
.sidebar ul:nth-of-type(2) li i {
  transition: 0.3s;
}
.sidebar ul:nth-of-type(2) li:hover i {
  transform: rotate(-25deg) scale(1.2);
}

.sidebar.active {
  right: 0;
}

.logo {
  margin-left: clamp(0.25em, -1.22963em + 6.23vw, 5em);
  position: relative;
}

.logo img {
  width: 180px;
  position: absolute;
  bottom: -15px;
}

#header ul {
  height: 100%;
}
#header ul li .btn {
  padding: 0 0.57em;
  transition: 0.3s;
  margin: 5px clamp(0.25em, -1.22963em + 6.23vw, 5em) 0 2em;
  border-radius: 3px;
  min-width: 5.33em;
  height: 3em;
  color: var(--dark);
  background-color: var(--accent);
  border-color: var(--dark);
  font-size: clamp(0.625rem, 0.57198rem + 0.303vw, 0.875rem);
  white-space: nowrap;
}
#header ul li .btn:hover {
  background-color: var(--b-main) !important;
  border-color: var(--b-main) !important;
}

.hamb {
  margin-top: 12px;
  margin-right: 24px;
  display: none;
  width: 32px;
  cursor: pointer;
  position: relative;
}

.hamb span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--neutral);
  transition-duration: 0.3s;
  transition-property: opacity transform;
}

.hamb span.mid {
  margin: 7px 0;
}

.hamb.active span.top {
  transform: translateY(9px) rotate(42deg);
}

.hamb.active span.mid {
  opacity: 0;
}

.hamb.active span.bot {
  transform: translateY(-9px) rotate(-42deg);
}

nav {
  height: 64px;
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  background: var(--dark);
  transition: 1s;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav li a {
  font-family: Josefin-Sans, sans-serif;
  text-transform: uppercase;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--neutral);
  position: relative;
  transition: 0.5s;
  font-size: 0.875rem;
}

.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) {
  padding: 0 2em;
}

.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  width: 60%;
  margin: 0 20%;
  height: 3px;
  background: var(--b-main);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a:hover {
  color: var(--a-medium);
}
.nav-desktop
  li:not(:first-child):not(:last-child):not(:nth-child(6))
  a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav li:first-child {
  margin-right: auto;
}

nav a img {
  height: 60px;
}

.sidebar li,
.sidebar a {
  width: 100%;
}

.sidebar p {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: Merriweather, serif;
}

h2 {
  font-family: Josefin-Sans, serif;
  font-size: 3.157rem;
}

h3 {
  font-family: Josefin-Sans, sans-serif;
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
  font-family: Josefin-Sans, sans-serif;
}

h5 {
  font-size: 1.333rem;
  font-family: Josefin-Sans, sans-serif;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  font-family: Josefin-Sans, sans-serif;
}

p {
  font-family: Josefin-Sans, sans-serif;
}

footer {
  width: 100%;
  color: var(--neutral);
  background-color: var(--a-light);
  padding-top: 16px;
}
footer svg {
  margin-bottom: -16px;
}
footer div {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
footer div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div ul:first-of-type {
  gap: 1rem;
}
footer div ul:first-of-type li i {
  color: var(--a-light);
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: var(--a-medium);
  padding: 15px;
  border-radius: 50px;
}
footer div ul:first-of-type li i:hover {
  margin: 0 15px 0 15px;
  transform: scale(1.2);
}
footer ul:last-of-type {
  gap: 1rem;
}
footer ul:last-of-type li a {
  color: var(--neutral);
  text-decoration: none;
}
footer ul:last-of-type li a:hover {
  text-decoration: underline;
}
footer div:last-child {
  width: 100%;
  text-align: center;
  z-index: 99;
}
footer div:last-child a {
  color: var(--a-light);
  text-decoration: none;
  font-size: 0.875rem;
}

@media (hover: hover) or (pointer: fine) {
  /* TouchScreen Support */
  .sidebar ul li:hover i {
    transform: rotate(-25deg) scale(1.2);
  }
  .sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }

  footer ul:first-of-type li i:hover {
    margin: 0 15px 0 15px;
    transform: scale(1.2);
  }
}
@media (max-width: 850px) {
  .nav-desktop li:nth-child(2),
  .nav-desktop li:nth-child(3),
  .nav-desktop li:nth-child(4),
  .nav-desktop li:nth-child(5) {
    display: none;
  }

  .hamb {
    display: block !important;
  }
  #header ul li .btn {
    margin-right: 24px;
  }
}

@media (max-width: 400px) {
  .logo img {
    width: clamp(5.625rem, -7.5rem + 75vw, 11.25rem);
    bottom: -4px;
  }
}
