@font-face {
  font-family: Merriweather;
  src: url(./fonts/Merriweather-BoldItalic.ttf);
}

@font-face {
  font-family: Josefin-Sans;
  src: url(./fonts/JosefinSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Ensures no horizontal scroll bar */
  width: 100%;
  background-color: #f6f7f8;
  font-size: 1rem;
  font-family: Josefin-Sans, sans-serif;
}

.sidebar {
  position: fixed;
  top: 80px;
  right: -440px;
  transition: 0.3s right;
  height: auto;
  width: 350px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar ul:nth-of-type(2) {
  margin-top: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sidebar ul:nth-of-type(2) li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar ul:nth-of-type(2) li a {
  width: 100%;
  height: 100%;
  font-size: 1.333rem;
}
.sidebar ul:nth-of-type(2) li i {
  transition: 0.3s;
}
.sidebar ul:nth-of-type(2) li:hover i {
  transform: rotate(-25deg) scale(1.2);
}

.sidebar.active {
  right: 0;
}

.logo img {
  width: clamp(5.625rem, 4.45698rem + 4.918vw, 9.375rem);
}

#header ul {
  height: 100%;
}
#header ul li .btn {
  padding: 0 0.57em;
  transition: 0.3s;
  margin: 5px 2.29em 0 2em;
  border-radius: 3px;
  min-width: 5.33em;
  height: 3em;
  color: #00040d;
  background-color: #e8d0a8;
  border-color: #00040d;
  font-size: clamp(0.625rem, 0.57198rem + 0.303vw, 0.875rem);
  white-space: nowrap;
}
#header ul li .btn:hover {
  background-color: #dcb97d !important;
  border-color: #5c4e35 !important;
}

.hamb {
  margin-top: 12px;
  margin-right: 24px;
  display: none;
  width: 32px;
  cursor: pointer;
  position: relative;
}

.hamb span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f6f7f8;
  transition-duration: 0.3s;
  transition-property: opacity transform;
}

.hamb span.mid {
  margin: 7px 0;
}

.hamb.active span.top {
  transform: translateY(9px) rotate(42deg);
}

.hamb.active span.mid {
  opacity: 0;
}

.hamb.active span.bot {
  transform: translateY(-9px) rotate(-42deg);
}

nav {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  background: #00040d;
  transition: 0.3s;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav li a {
  font-family: Josefin-Sans, sans-serif;
  text-transform: uppercase;
  height: 100%;
  padding: 0 2em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f6f7f8;
  position: relative;
  transition: 0.5s;
  font-size: 0.875rem;
}
nav li a:first-child {
  padding: 0 0 0 2em;
}

.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 0;
  width: 60%;
  margin: 0 40%;
  height: 3px;
  background: #d9305d;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.nav-desktop li:not(:first-child):not(:last-child):not(:nth-child(6)) a:hover {
  color: #fbeaef;
}
.nav-desktop
  li:not(:first-child):not(:last-child):not(:nth-child(6))
  a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav li:first-child {
  margin-right: auto;
}

nav a img {
  height: 60px;
}

.sidebar li {
  width: 100%;
}
.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.384);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: Merriweather, serif;
}

h2 {
  font-family: Josefin-Sans, serif;
  font-size: 3.157rem;
}

h3 {
  font-family: Josefin-Sans, sans-serif;
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
  font-family: Josefin-Sans, sans-serif;
}

h5 {
  font-size: 1.333rem;
  font-family: Josefin-Sans, sans-serif;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  font-family: Josefin-Sans, sans-serif;
}

p {
  font-family: Josefin-Sans, sans-serif;
}

footer {
  width: 100%;
  color: #f6f7f8;
  background-color: #e9ecf1;
}
footer svg {
  margin-bottom: -16px;
}
footer div {
  background-color: #00040d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
footer div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div ul:first-of-type {
  gap: 1rem;
}
footer div ul:first-of-type li i {
  color: #f6f7f8;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #6e7fa1;
  padding: 15px;
  border-radius: 50px;
}
footer div ul:first-of-type li i:hover {
  margin: 0 15px 0 15px;
  transform: scale(1.2);
}
footer ul:last-of-type {
  gap: 1rem;
}
footer ul:last-of-type li a {
  color: #f6f7f8;
  text-decoration: none;
}
footer ul:last-of-type li a:hover {
  text-decoration: underline;
}
footer div:last-child {
  width: 100%;
  text-align: center;
  z-index: 99;
}
footer div:last-child a {
  color: #e3e5eb;
  text-decoration: none;
  font-size: 0.875rem;
}

.success {
  color: #c52c55;
}

#contact {
  width: 100vw;
  padding: 2em 0 4em 0;
  background-color: #e9ecf1;
  display: grid;
  align-items: center;
}
#contact .contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 10px;
  background-color: #f6f7f8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact .contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
#contact .contact-map iframe {
  width: 100%;
  height: 100%;
}
#contact .contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  padding: 12px;
}
#contact .contact-form i {
  color: #274073;
  font-size: 2.488rem;
  transform: translateY(0.125rem);
}
#contact .contact-form h2 {
  margin-bottom: 10px;
  color: #274073;
  display: inline;
  font-size: 2.488rem;
}
#contact .contact-form .input-container {
  position: relative;
  padding-bottom: 12px;
}
#contact .contact-form .input-container input,
#contact .contact-form .input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #274073;
  background-color: #f6f7f8;
  border-radius: 5px;
  outline: none;
  color: #274073;
  font-size: 1.125rem;
}
#contact .contact-form .input-container label {
  position: absolute;
  left: 0;
  top: 4px;
  padding: 10px;
  pointer-events: none;
  font-size: 1.125rem;
  color: #9ca7bf;
  text-transform: uppercase;
  transition: 0.3s;
}
#contact .contact-form .input-container input:valid ~ label,
#contact .contact-form .input-container input:focus ~ label,
#contact .contact-form .input-container textarea:valid ~ label,
#contact .contact-form .input-container textarea:focus ~ label {
  color: #274073;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75rem;
  padding: 0 10px;
  background-color: #f6f7f8;
  letter-spacing: 0.2em;
}
#contact .contact-form .contact-form-txt {
  width: 100%;
  height: 40px;
  color: #00040d;
  border: 1px solid #f6f7f8;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-txt::placeholder {
  color: #274073;
}
#contact .contact-form .contact-form-textarea {
  width: 100%;
  min-height: 130px;
  color: #00040d;
  border: 1px solid #f6f7f8;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-textarea::placeholder {
  color: #274073;
}
#contact .contact-form .contact-form-btn {
  width: 100%;
  min-height: 64px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #c52c55;
  color: #fbeaef;
  text-transform: uppercase;
  padding: 10px 0;
  margin-top: 8px;
  cursor: pointer;
  font-size: 1.333rem;
  transition: 0.3s;
}
#contact .contact-form .contact-form-btn:hover {
  background-color: #9a2242;
}

@media (hover: hover) or (pointer: fine) {
  /* TouchScreen Support */
  .sidebar ul li:hover i {
    transform: rotate(-25deg) scale(1.2);
  }
  .sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }

  footer ul:first-of-type li i:hover {
    margin: 0 15px 0 15px;
    transform: scale(1.2);
  }
}
@media (max-width: 850px) {
  .nav-desktop li:nth-child(2),
  .nav-desktop li:nth-child(3),
  .nav-desktop li:nth-child(4),
  .nav-desktop li:nth-child(5) {
    display: none;
  }

  .hamb {
    display: block !important;
  }
  #header ul li .btn {
    margin-right: 24px;
  }
}
