@keyframes up-reveal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes right-reveal {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoom {
  0% {
    background-position: right top;
    transform: scale(1);
  }
  100% {
    background-position: left bottom;
    transform: scale(1.2);
  }
}

#header {
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
  transform: translateY(-100%);
  animation: up-reveal 1s ease 2s forwards;
}

.header-background {
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 997;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0)
  );
}

.hero {
  overflow: hidden;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  position: relative;
  background-color: var(--a-main);
}
.hero-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: zoom 3s forwards;
  transform: scale(1);
}

.hero .overlay {
  position: absolute;
  bottom: -2px;
  width: 100%;
  max-height: 200px;
  -webkit-mask-image: linear-gradient(to right, black 90%, transparent);
  mask-image: linear-gradient(to right, black 90%, transparent);
  mask-size: 0%;
  -webkit-mask-size: 0%;
  mask-repeat: no-repeat;
  animation: reveal 1.2s 2.1s forwards;
}

@keyframes reveal {
  0% {
    mask-size: 0%;
    -webkit-mask-size: 0%;
  }
  100% {
    mask-size: 120%;
    -webkit-mask-size: 120%;
  }
}

.hero .row {
  display: flex;
  margin-top: clamp(8rem, 7.04538rem + 5.455vw, 12.5rem);
  margin-left: 0;
}

.hero .row .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: right-reveal 1s ease 2s forwards;
  padding-left: clamp(0.5rem, -0.53408rem + 5.909vw, 5.375rem);
  padding-right: 40px;
}
.hero .row .column i {
  color: var(--accent);
  font-size: 2.488rem;
  transition: 0.3s;
}
.hero .row .column i:hover {
  transform: rotate(-25deg) scale(1.2);
  text-shadow: 0 0 10px var(--b-main);
}
.hero .row .column span {
  height: 20%;
  border-right: 1px solid var(--accent);
}
.hero .row .hero-text {
  opacity: 0;
  animation: right-reveal 1s ease 1.2s forwards;
  color: var(--neutral);
  width: clamp(280px, 75%, 600px);
  text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.hero .row .hero-text h1 {
  font-size: clamp(2.119rem, 1.79591rem + 2.413vw, 4.209rem);
}
.hero .row .hero-text h1:nth-of-type(2) {
  font-size: clamp(4.541875rem, 4.31525rem + 1.295vw, 5.61rem);
  margin-bottom: 8px;
}
.hero .row .hero-text h1:nth-of-type(2):nth-of-type(2)::first-letter {
  color: var(--accent);
}
.hero .row .hero-text h1:nth-of-type(2) span:nth-of-type(2) {
  white-space: nowrap;
}
.hero .row .hero-text h5 {
  font-size: clamp(1.44rem, 1.37893rem + 0.349vw, 1.728125rem);
  color: var(--b-main);
  margin-bottom: 8px;
}
.hero .row .hero-text p {
  font-size: 1rem;
  margin: 10px 15px 10px 0;
}
.hero .row .hero-text .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: var(--accent);
  margin-top: 24px;
  margin-bottom: 24px;
}
.hero .row .hero-text .location p {
  margin: 0;
  font-size: clamp(0.75rem, 0.69698rem + 0.303vw, 1rem);
}
.hero .row .hero-text .location i {
  margin: 0 4px 0 4px;
  color: var(--accent);
  animation: hover 2s 3s infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: clamp(0.75rem, 0.67388rem + 0.435vw, 1rem);
}
.cta .btn {
  background-color: var(--accent);
  color: var(--dark);
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  min-width: 104px;
  min-height: 42px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 500;
}
.cta .btn:hover {
  background-color: var(--b-main);
  box-shadow: 0px 10px 15px -8px var(--b-main);
}
.cta .btn:nth-of-type(2) {
  border: 1px solid var(--neutral);
  color: var(--neutral);
  background-color: rgba(0, 0, 0, 0.308);
}
.cta .btn:nth-of-type(2):hover {
  background-color: var(--neutral);
  color: var(--dark);
  border-color: var(--dark);
  box-shadow: 0px 10px 15px -8px var(--a-medium);
}

#about {
  background-color: var(--neutral);
  width: 100%;
}

#about .text-box {
  text-align: center;
  width: 100%;
  padding: 1em 1em 2em 1em;
  line-height: 1.5;
}
#about .text-box h2 {
  font-family: Merriweather, serif;
  color: var(--a-main);
  font-size: clamp(1.776875rem, 1.4841rem + 1.673vw, 3.157rem);
}

#about .text-box p {
  width: clamp(280px, 100%, 75ch);
  color: var(--a-main);
  line-height: 1.5;
}

#about .background {
  width: 100%;
  background-color: var(--a-light);
  display: flex;
  justify-content: center;
  box-shadow: inset 0 64px 0 0 var(--neutral), inset 0 -64px 0 0 var(--neutral);
}

#about .row {
  width: calc(100% - (2 * var(--main-margin)));
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#about .row .profile-image {
  width: clamp(17.5rem, 12.4229rem + 29.012vw, 46.875rem);
  margin: 0 -32px;
}
#about .row .text-box {
  width: clamp(280px, 100%, 60ch);
  text-align: left;
  padding: 0;
  margin-bottom: 5em;
}
#about .row .text-box h6 {
  font-family: Josefin-Sans, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--a-medium);
  margin-bottom: 4px;
  line-height: 0;
}
#about .row .text-box h4 {
  color: var(--a-main);
  font-family: Merriweather, serif;
  margin-bottom: 16px;
}
#about .row .text-box p {
  margin-bottom: 2em;
  line-height: 1.5;
  padding: 0;
  width: clamp(220px, 100%, 60ch);
}

.center {
  text-align: center;
}
.center .p {
  width: clamp(280px, 40ch, 80%);
}

#events {
  width: 100%;
  padding: 0 var(--main-margin) 4em var(--main-margin);
  background-color: var(--neutral);
}
#events h2 {
  color: var(--a-main);
}
#events p {
  color: #var(--a-main);
  line-height: 1.5;
  width: clamp(220px, 100%, 60ch);
  margin: 0 auto;
  text-align: center;
}
#events a {
  color: var(--dark);
  margin-bottom: 2.5em;
  margin: 1.5em auto;
}
#events .accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin: 2em 0;
}
#events .accordion .item-container {
  position: relative;
  width: 10%;
  min-width: 120px;
  height: 600px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#events .accordion .item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.5s;
}
#events .accordion .item-container .event-text {
  container-type: inline-size;
  position: absolute;
  bottom: -200px;
  left: 0;
  top: 0;
  padding: clamp(0.5em, 0.2879em + 1.212vw, 1.5em);
  transition: 0.3s;
  font-size: 1.44rem;
  font-weight: 600;
  width: 100%;
  color: var(--neutral);
  opacity: 0;
}
#events .accordion .item-container .event-text h3 {
  color: var(--b-main);
  margin-bottom: 16px;
  font-size: clamp(1.44rem, 1.16715rem + 1.819vw, 2.98625rem);
}
#events .accordion .item-container .event-text p {
  color: var(--a-light);
  text-align: left;
  margin: 0;
  width: clamp(12.5rem, 7.72723rem + 27.273vw, 35rem);
  font-weight: 500;
  margin-bottom: 8px;
  font-size: clamp(0.75rem, 0.68575rem + 0.514vw, 1.2rem);
}
#events .accordion .item-container .event-text a {
  margin-top: 0.57em;
  height: 3em;
  color: var(--neutral);
  border-radius: 3px;
  font-size: 0.875rem;
  font-family: Josefin-Sans, sans-serif;
  font-weight: 300;
}
#events .accordion .item-container .event-text a:hover {
  color: var(--accent);
}
#events .accordion .item-container .event-bottom {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5em;
  background: linear-gradient(rgba(16, 27, 48, 0), rgba(16, 27, 48, 0.8));
}
#events .accordion .item-container .event-bottom .calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark);
  border-radius: 12px;
  height: 100px;
  min-width: 100px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#events .accordion .item-container .event-bottom .calendar p {
  width: auto;
  height: auto;
  margin: 0;
}
#events .accordion .item-container .event-bottom .calendar .day {
  color: var(--neutral);
  font-size: 2rem;
}
#events .accordion .item-container .event-bottom .calendar .month {
  color: var(--a-light);
  margin-top: -8px;
}
#events .accordion .item-container .event-bottom .calendar .year {
  color: var(--a-medium);
}
#events .accordion .item-container .event-bottom .location {
  display: none;
  justify-content: center;
}
#events .accordion .item-container .event-bottom .location p {
  max-width: auto;
  height: auto;
  margin: 0;
  color: var(--a-light);
}
/*Select the first p element only*/
#events .accordion .item-container .event-bottom .location .location-name {
  color: var(--accent);
}
#events .accordion .item-container .event-bottom .location .address {
  white-space: nowrap;
}
#events .accordion .item-container .event-bottom .location .address p {
  text-align: left;
  margin-left: 8px;
  font-size: clamp(0.75rem, 0.62505rem + 0.833vw, 1.25rem);
}
#events .accordion .item-container .event-bottom .location .address div {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
#events .accordion .item-container .event-bottom .location .address div i {
  animation: none;
  color: var(--accent);
  margin-left: 0.5em;
  font-size: clamp(0.75rem, 0.62505rem + 0.833vw, 1.25rem);
}
#events
  .accordion
  .item-container
  .event-bottom
  .location
  .address
  div
  .location-name {
  font-weight: 600;
}
#events .accordion .item-container.expanded {
  width: 100%;
}
#events .accordion .item-container.expanded img {
  animation: zoom 1.5s forwards;
  filter: brightness(0.3);
}
#events .accordion .item-container.expanded .event-text {
  opacity: 1;
}
#events .accordion .item-container.expanded .event-bottom {
  justify-content: flex-start;
}
#events .accordion .item-container.expanded .location {
  display: flex;
}

#gallery {
  padding: 4em var(--main-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark);
}
#gallery h2 {
  color: var(--b-main);
}
#gallery p {
  color: var(--b-light);
}
#gallery a {
  color: var(--b-light);
  line-height: 1.5;
}
#gallery .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  padding: 1em;
  padding-bottom: 2em;
  border: none;
  outline: none;
  background-color: var(--neutral);
}
#gallery .modal img {
  width: 100%;
  max-height: 230px;
  height: 100%;
  object-fit: cover;
}
#gallery .modal h5 {
  font-family: Merriweather, serif;
  font-size: 1.777rem;
  margin-bottom: 0.5em;
  color: var(--a-main);
}
#gallery .modal p {
  color: var(--a-main);
  line-height: 1.5;
  padding-bottom: 16px;
}

#gallery .modal a {
  padding: 8px;
  color: var(--dark);
  background-color: var(--accent);
  border-radius: 12px;
  text-align: center;
  min-width: 104px;
  min-height: 42px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#gallery .modal a:hover {
  background-color: var(--b-main);
}

#gallery .paintings {
  margin: 2em 0;
  width: 100%;
  display: grid;
  grid-row-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  justify-items: center;
  align-items: center;
}
#gallery .paintings > .open-modal {
  width: 12em;
  height: 19.416em;
  border: 2px solid var(--accent);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#gallery .paintings > .open-modal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
#gallery .paintings > .open-modal:hover img {
  transform: scale(1.1);
}
#gallery .paintings > .open-modal p {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  transform: translateY(3rem);
  color: var(--neutral);
  transition: 0.5s ease-in-out;
  font-family: Merriweather, serif;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
#gallery .paintings > .open-modal:hover p {
  transform: translateY(0);
}

.sold {
  filter: grayscale(100%);
}
.sold:hover {
  filter: none;
}

.sold::before {
  content: "SÅLD";
  position: absolute;
  transform: translate(-50%, -50%) rotate(315deg);
  color: white;
  top: 50%;
  left: 50%;
  font-size: 72px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

.sold:hover::before {
  opacity: 0;
}

.studio {
  width: 100%;
  min-height: 80vh;
  max-height: 800px;
  background-image: url("./images/studio.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studio .text-box {
  width: 100%;
  min-height: 400px;
  margin: var(--main-margin);
  background-color: rgba(16, 27, 48, 0.9);
  padding: 2.5em;
  border: 1px solid var(--accent);
}
.studio h4 {
  margin: var(--main-margin);
  color: var(--b-main);
  font-family: Merriweather, serif;
  font-style: italic;
  line-height: 2;
  text-align: center;
  font-size: clamp(1.2rem, 0.64354rem + 2.343vw, 2.98625rem);
}

#contact {
  width: 100%;
  padding: 4em var(--main-margin);
  background-color: var(--a-light);
  display: grid;
  align-items: center;
}
#contact .contact-in {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--neutral);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contact .contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
#contact .contact-map iframe {
  width: 100%;
  height: 100%;
}
#contact .contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: center;
  padding: 12px 0 12px 12px;
}

#contact .contact-form > div {
  padding-bottom: 12px;
}

#contact .contact-form i {
  color: var(--a-main);
  font-size: 2.488rem;
  transform: translateY(0.125rem);
}
#contact .contact-form h2 {
  color: var(--a-main);
  display: inline;
  font-size: 2.488rem;
}
#contact .contact-form .input-container {
  position: relative;
  margin-bottom: 12px;
}
#contact .contact-form .input-container input,
#contact .contact-form .input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--a-main);
  background-color: var(--neutral);
  border-radius: 5px;
  outline: none;
  color: var(--a-main);
  font-size: 1.125rem;
}
#contact .contact-form .input-container label {
  position: absolute;
  left: 0;
  top: 4px;
  padding: 10px;
  pointer-events: none;
  font-size: 1.125rem;
  color: var(--a-medium);
  text-transform: uppercase;
  transition: 0.3s;
}
#contact .contact-form .input-container input:valid ~ label,
#contact .contact-form .input-container input:focus ~ label,
#contact .contact-form .input-container textarea:valid ~ label,
#contact .contact-form .input-container textarea:focus ~ label {
  color: var(--a-main);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75rem;
  padding: 0 10px;
  background-color: var(--neutral);
  letter-spacing: 0.2em;
}
#contact .contact-form .contact-form-txt {
  width: 100%;
  height: 40px;
  color: var(--dark);
  border: 1px solid var(--neutral);
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-txt::placeholder {
  color: var(--a-main);
}
#contact .contact-form .contact-form-textarea {
  width: 100%;
  min-height: 130px;
  color: var(--dark);
  border: 1px solid var(--neutral);
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
#contact .contact-form .contact-form-textarea::placeholder {
  color: var(--a-main);
}
#contact .contact-form .contact-form-btn {
  width: 100%;
  min-height: 64px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--b-main);
  color: var(--b-light);
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.333rem;
  font-weight: 600;
  transition: 0.3s;
}
#contact .contact-form .contact-form-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer {
  background-color: var(--a-light);
}

@media (hover: hover) or (pointer: fine) {
  .row .column i:hover {
    transform: rotate(-25deg) scale(1.2);
    text-shadow: 0 0 10px var(--b-main);
  }
  .paintings > .open-modal:hover img {
    transform: scale(1.1);
  }
  .paintings > .open-modal:hover p {
    transform: translateY(0);
  }
}
@media (max-width: 850px) {
  .hero-text {
    margin-left: calc(2 * var(--main-margin));
  }
  .row .column {
    display: none !important;
  }
  #events .accordion {
    flex-direction: column;
  }
  #events .accordion .item-container {
    width: 100%;
    height: 150px;
  }
  #events .accordion .item-container.expanded {
    height: 480px;
    width: 100%;
  }

  .studio {
    width: 100%;
    min-height: 80vh;
    max-height: 800px;
    background-image: url("./images/studio-m.jpg");
}

@media (max-width: 400px) {
  .studio {
    width: 100%;
    min-height: 80vh;
    max-height: 800px;
    background-image: url("./images/studio-s.jpg");
  }
}
