{% extends "home/layout.html" %} {% load static %} {% block meta %}
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:description" content="{{ event.description }}" />
<meta property="og:image" content="{{event.get_resized_image_urls.meta_url}}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<title>{{ event.name }}</title>
{% endblock %} {% block head %}
<link href="{% static 'events/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://kit.fontawesome.com/a8ed3d1b14.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'events/script.js' %}"></script>
{% endblock %} {% block content %}

<section class="breadcrumbs">
  <a href="{% url 'home:index' %}"><i class="fa-solid fa-house"></i>Home</a>
  <p>/</p>
  <a href="{% url 'events:index' %}">Events</a>
  <p>/</p>
  <h1>{{ event.name }}</h1>
</section>

<section
  style="background-image: url('{{ event.get_resized_image_urls.img_3_url }}');"
  class="box background"
>
  <div class="filter">
    <div class="text-container">
      <h4 class="date">{{ event.date }}</h4>
      <h1>{{ event.name }}</h1>
      {% if event.tags %}
      <h3>{{ event.tags }}</h3>
      {% endif %}
      <p>{{ event.description }}</p>
      <h5>{{ event.location_name }}, {{ event.street }}, {{ event.city }}</h5>
      <div class="row">
        {% if event.read_more %}
        <a href="{{ event.read_more }}" target="_blank" class="btn box"
          ><i class="fa-solid fa-up-right-from-square"></i>Läs mer</a
        >
        {% endif %} {% if event.download_file %}
        <a href="{{ event.download_file.url }}" class="btn box" download
          ><i class="fa-solid fa-download"></i>Broschyr</a
        >
        {% endif %}
      </div>
      <div class="row social">
        <a
          href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
          target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
        <a
          href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
          target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a
          href="whatsapp://send?text={{ request.build_absolute_uri }}"
          target="_blank"
          ><i class="fa-brands fa-square-whatsapp"></i
        ></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
