{% extends "home/layout.html" %} {% load static %} {% block head %}
<link href="{% static 'events/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://kit.fontawesome.com/a8ed3d1b14.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'events/script.js' %}"></script>
{% endblock %} {% block content %}

<section
  style="background-image: url('{{ event.background.url }}');"
  class="box background"
>
  <div class="filter">
    <a href="{% url 'events:index' %}" class="return">Tillbaka</a>
    <div class="text-container">
      <h4 class="date">{{ event.date }}</h4>
      <h1>{{ event.name }}</h1>
      {% if event.tags %}
      <h3>{{ event.tags }}</h3>
      {% endif %}
      <p>{{ event.description }}</p>
      <h5>{{ event.location_name }}, {{ event.street }}, {{ event.city }}</h5>
      <div class="row">
        {% if event.read_more %}
        <a href="{{ event.read_more }}" target="_blank" class="btn box"
          ><i class="fa-solid fa-up-right-from-square"></i>Läs mer</a
        >
        {% endif %} {% if event.download_file %}
        <a href="{{ event.download_file.url }}" class="btn box" download
          ><i class="fa-solid fa-download"></i>Broschyr</a
        >
        {% endif %}
      </div>
      <div class="row social">
        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
