{% extends "home/layout.html" %} {% load static %} {% block head %}
<link href="{% static 'events/styles.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'events/script.js' %}"></script>
{% endblock %} {% block content %}
<section>
  <h1>Events</h1>
</section>
<section>
  <div class="events-container">
    {% for event in events %}
    <a href="{% url 'events:event' event.id %}">
      <div class="box">
        <img src="{{ event.background.url }}" alt="event image" />
        <h3>{{ event.name }}</h3>
        <h6>{{ event.date }}</h6>
      </div>
    </a>
    {% empty %}
    <p>No events</p>
    {% endfor %}
  </div>
</section>

{% endblock %}
